
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>

<ul>
    <li><b>B.Sc. in Computer Science & Engineering</b></li>
    <ul>
        <li>Institute: American International University-Bangladesh</li>
        <li>Semester: 10</li>
        <li>CGPA: 3.92</li>
    </ul>
    <li><b>A Levels</b></li>
    <ul>
        <li>Institute: Bangladesh International School - Jeddah</li>
        <li>GPA: 3.03</li>
        <li>Year: 2017</li>
        <li>Group: Science</li>
    </ul>
    <li><b>IGCSE</b></li>
    <ul>
        <li>Institute: Bangladesh International School - Jeddah</li>
        <li>GPA: 3.23</li>
        <li>Year: 2015</li>
        <li>Group: Science</li>
    </ul>
</ul>