
@{
    ViewBag.Title = "Projects";
}

<h2>Projects</h2>

<ul>
    <li><b>Object Oriented Programming 2</b></li>
    <ul>
        <li>Cafe Management System</li>
        <p>
            <i>Cafe management system is used for maintaining the details, Sales, billing and maintains an inventory for the Cafe.</i>
        </p>
    </ul>

    <li><b>Web Technology</b></li>
    <ul>
        <li>Online Clothing Store</li>
        <p>
            <i>
                The user can purchase any product shown on the website and to purchase the product customer should register an
                account and log in the account.
            </i>
        </p>
    </ul>

    <li><b>Advanced Web Technology</b></li>
    <ul>
        <li>Buying & selling products</li>
        <p>
            <i>
                The user can purchase and sell any product and to do that the customer should register an
                account and log in the account.
            </i>
        </p>
    </ul>
</ul>